extends ../layouts/default

block content
	div(.container ng-app)
		h1 BoardMania
		p Sök upp spelet för att lägga till
		div(#search ng-controller="boardmania.searchController as searchController")
			input
			ul
				li(.game ng-each(game in games))
					img(src={{game.thumb}})
					span.title game.title

block js
	script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js')
	script(src='/js/app.js')